html, body {

  overflow-x: hidden;

  background-color: #fafafa;

  
}


@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    flex-direction: column;
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
 

  }

}