.body {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    /* height: 90vh; */
    padding: 5vh;
    /* border: cadetblue 2px solid; */
    background-color: #fafafa;
    padding-bottom: 1rem; 
}

.my_image {
    object-fit: contain;
    position: relative;
    background-image: url("./images/me.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: red 1px dashed; */
    height: 80vh;
    width: 20%;
    background-color: #fafafa;
    /* padding: 40px; */
    display: flex;
    justify-content: center;
    float: left;
    align-items: center;
}

.intro {
    width: 90%;
    margin: auto;
    display: flex;
    clear: both;
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: 1vh;
    /* border: dashed 4px red; */
}
.intro-2 {
    width: 90%;
    margin: auto;
    display: flex;
    clear: both;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    overflow: hidden;
    margin-bottom: 1vh;
    /* border: solid 1px red; */
}
.intro-2 p {
    color: black;
    line-height: 1;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    float: right;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    /* border-left: 1px solid #E5E4E2; */
    /* opacity: 0.8; */
    font-size: 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro_right {
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: solid 4px blue; */
    float: left;
    /* border-color: 4px solid red; */
    /* background-color: teal; */
    color: white;
    width: 40%;
}

.intro_left {
    /* border: solid 4px green; */
    padding: 1vh;
    float: left;
    /* border-color: 4px solid red; */
    width: 60%;
}
.intro_left h2 {
    color: white;
}
/*  */

.starred_story {
    width: 70vh;
    /* border: 1px solid red; */
    /* padding: 2vh; */
    margin: 1vh;
    display: flex;
    clear: both;
}

.story {
    width: 30vh;
    /* padding: 2vh; */
    margin: 1vh;
    display: flex;
    clear: both;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .body {
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        clear: both;
        width: 100%;
        /* height: 90vh; */
        padding: 5vh;
        /* border: cadetblue 4px solid; */
        background-color: #fafafa;
        padding-bottom: 1rem; 
    }
    .story {
        width: 45vh;
        padding: 2vh;
        margin: auto;
        display: flex;
        clear: both;
    }
    .starred_story {
        width: 45vh;
        padding: 2vh;
        margin: auto;
        display: flex;
        clear: both;
    }
    .intro {
        width: 90%;
        margin: auto;
        display: flex;
        clear: both;
        background-color: #fafafa;
        overflow: hidden;
        margin-bottom: 1vh;
        /* border: dashed 4px red; */
    }
    .intro-2 {
        width: 90%;
        margin: auto;
        display: flex;
        clear: both;
        align-items: center;
        justify-content: center;
        background-color: #fafafa;
        overflow: hidden;
        margin-bottom: 1vh;
        /* border: solid 1px red; */
    }
    .intro-2 p {
        color: black;
        line-height: 1;
        letter-spacing: 1px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        float: right;
        font-family: "A2 Regular", sans-serif;
        font-stretch: normal;
        font-style: normal;
        font-weight: 900;
        /* border-left: 1px solid #E5E4E2; */
        opacity: 0.8;
        font-size: 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
    .intro_right {
        align-items: center;
        justify-content: center;
        position: relative;
        /* border: solid 4px blue; */
        float: left;
        /* border-color: 4px solid red; */
        /* background-color: teal; */
        color: white;
        width: 40%;
    }
    .intro_button {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
        /* Center vertically and horizontally */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .svg_icons {
        transform: scale(3);
        color: #DFFF00;
    }
    .intro_button:hover {
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        color: #9FE2BF;
    }
    .intro_button:active {
        cursor: pointer;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        background: #DFFF00;
        color: white;
    }
    .intro_button:focus {
        cursor: pointer;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        background: #DFFF00;
        color: white;
    }
    .intro_left {
        /* border: solid 4px green; */
        padding: 1vh;
        float: left;
        /* border-color: 4px solid red; */
        width: 60%;
    }
    .intro_left h2 {
        color: white;
    }
}