.footer_bottom {
    background-color: #fafafa;
    /* border: 4px dashed green; */
    display: flex;
    justify-content: center;
    bottom: 0;
    padding-top: 1vh;
    flex-shrink: 0;
}

.footer_content {
    /* border: 4px dashed red; */
    background-color: #fafafa;
    border-top: 1px solid #dbdbdb;
    object-fit: contain;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    /* clear: both; */
    /* z-index: 9999; */
    height: 10vh;
    width: 50%;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: baseline;
}

.footer_bottom a {
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    margin: auto;
    float: right;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    /* border: 1px solid red; */
    opacity: 0.8;
    color: black;
    font-size: 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.footer_bottom a:active {
    cursor: pointer;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    background: #DFFF00;
    color: black;
}

.footer_bottom a:hover {
    cursor: pointer;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    background: #DFFF00;
    color: black;
}

.footer_bottom a:focus {
    cursor: pointer;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    background: #FDDA0D;
    color: black;
}

.footer_bottom p {
    color: black;
    font-size: 15px;
    font-family: 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 600px) {
    .footer_bottom {
        background-color: #fafafa;
        /* border: 4px dashed green; */
        display: flex;
        justify-content: center;
        padding-top: 5vh;
    }
    
    .footer_content {
        /* border: 4px dashed red; */
        background-color: #fafafa;
        border-top: 1px solid #dbdbdb;
        padding: 1vh;
        object-fit: contain;
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        /* clear: both; */
        z-index: 9999;
        height: 9vh;
        width: 50%;
        align-content: space-around;
        justify-content: space-evenly;
        align-items: baseline;
    }
}

@media only screen and (max-width: 768px) {
    .footer_bottom {
        background-color: #fafafa;
        /* border: 4px dashed green; */
        display: flex;
        justify-content: center;
        padding-top: 5vh;
    }
    
    .footer_content {
        /* border: 4px dashed red; */
        background-color: #fafafa;
        border-top: 1px solid #dbdbdb;
        padding: 1vh;
        object-fit: contain;
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        /* clear: both; */
        z-index: 9999;
        height: 9vh;
        width: 50%;
        align-content: space-around;
        justify-content: space-evenly;
        align-items: baseline;
    }
}