.hero {
  object-fit: contain;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  clear: both;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 8vh;
  width: 100%;
  background-color: white;
  /* border: 2px dashed green; */
  border-bottom: 1px solid #dbdbdb;
}

.link_img {
  object-fit: contain;
  height: 5vh;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 70%;
  vertical-align: middle;
  align-items: center;
  /* border: 3px dotted blueviolet; */
}

.header_right {
  height: 100%;
  width: 95%;
  float: left;
  /* border: 2px dotted red; */
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header_left {
  height: 100%;
  float: left;
  /* border: 2px dotted green; */
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav {
  margin-right: auto;
  margin-left: 2vh;
  opacity: 0.8;
  border-left: 1px solid black;
}

.nav ul {
  padding-left: 2vh;
  margin: auto;
  /* opacity: 0.9; */
  /* border: 1px solid red; */
  list-style-type: none;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.nav ul>li {
  /* border: 1px dashed blue; */
  display: inline-block;
  zoom: 1;
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  display: inline;
}

.nav ul>li:hover {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  color:#FFEA00;
}

.text-link {
  text-decoration: none;
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  /* letter-spacing: -1px; */
  line-height: 1;
  text-align: center;
  /* border: 1px solid black; */
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 900;
  /* opacity: 0.8; */
  padding-right: 4vh;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  display: inline;
  float: left;
}

.text-link:hover {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  color: #FFEA00;
}

.hero_icons {
  /* transform: scale(5); */
  color: black;
}

.hero_icons:hover {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  color: gray;
}

.date {
  /* margin-left:auto; */
  opacity: 0.8;
  /* border: 1px dashed black; */
}

.date p {
  margin: auto;
  float: right;
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  /* border: 1px solid red; */
  opacity: 0.8;
  color: black;
  font-size: 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.settings {
  /* margin-left:auto; */
  padding-left: 2vh;
  /* border-left: 1px dashed black; */
}

.settings_icons {
  cursor: pointer;
  transform: scale(0.6);
  color: #DFFF00;
  /* border: 1px solid black; */
}

.header_left>img {
  object-fit: contain;
  height: 5vh;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .hero {
    object-fit: contain;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 9vh;
    width: 100%;
    background-color: white;
    /* border: 2px dashed green; */
    border-bottom: 1px solid #dbdbdb;
  }
  .link_img {
    object-fit: contain;
    height: 5vh;
  }
  .header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    vertical-align: middle;
    align-items: center;
    /* border: 3px dotted blueviolet; */
  }
  .header_right {
    height: 100%;
    width: 95%;
    float: left;
    /* border: 2px dotted red; */
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .header_left {
    height: 100%;
    float: left;
    /* border: 2px dotted green; */
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .nav {
    margin-right: auto;
    margin-left: 2vh;
    opacity: 0.8;
    border-left: 1px solid black;
  }
  .nav ul {
    padding-left: 2vh;
    margin: auto;
    /* opacity: 0.9; */
    /* border: 1px solid red; */
    list-style-type: none;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
  }
  .nav ul>li {
    /* border: 1px dashed blue; */
    display: inline-block;
    zoom: 1;
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    display: inline;
  }
  .nav ul>li:hover {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    color: #DFFF00;
  }
  .text-link {
    text-decoration: none;
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    /* letter-spacing: -1px; */
    line-height: 1;
    text-align: center;
    /* border: 1px solid black; */
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: 900;
    /* opacity: 0.8; */
    padding-right: 4vh;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    display: inline;
    float: left;
  }
  .text-link:hover {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    color: #DFFF00;
  }
  .hero_icons {
    /* transform: scale(5); */
    color: black;
  }
  .hero_icons:hover {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    color:#DFFF00;
  }
  .date {
    /* margin-left:auto; */
    opacity: 0.8;
    /* border: 1px dashed black; */
  }
  .date p {
    margin: auto;
    float: right;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    /* border: 1px solid red; */
    opacity: 0.8;
    color: black;
    font-size: 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .header_left>img {
    object-fit: contain;
    height: 5vh;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .body {
    flex-direction: column;
  }
}