h1 {
  color: black;
  font-size: 75px;
  line-height: 74px;
  float: left;
  padding-bottom: 10px;
  margin: 0 5px 24px;
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
}

h5 {
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
}

p {
  padding: 2vh;
  font-family: "Roboto", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  /* border: 1px solid red; */
  opacity: 0.8;
  color: black;
  font-size: 10px;
  letter-spacing: 1.5px;
  /* text-transform: uppercase; */
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #FAF9F6;
  /* border: 4px solid black; */


}

.login_desc {
  object-fit: contain;
  position: relative;
  height: 70vh;
  background-image: url("./images/alex-perez-pEgsWN0kwbQ-unsplash.jpeg");
  background-color: #FAF9F6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  /* border: 2px dashed red; */
  height: 100%;
  width: 50%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
}

.login_form {
  display: flex;
  height: 100%;
  width: 50%;
  background-color: #FAF9F6;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.sign_up_btn {
  cursor: pointer;
  /* text-decoration: none; */
  margin: auto;
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  opacity: 0.8;
  color: black;
  font-size: 12px;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  display: inline-block;
  font-weight: 700;
}

.sign_up_btn:hover {
  /* text-decoration: none; */
  cursor: pointer;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  background: #FDDA0D;
  color: black;
}


.form_login {
  padding: 3vh;
  width: 90%;
  height: 90%;
  display: flex;
  background-color: #FAF9F6;
  text-align: center;
  /* border: 1px solid red; */
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.form_login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #FAF9F6;
  width: 200%;
  border: 1;
  border-color: black;
  margin: 0 0 15px;
  padding: 10px;
  /* box-sizing: border-box; */
  font-size: 14px;
}

.form_login button {
  float: left;
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  outline: 0;
  background: green;
  width: 15vh;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  background-image: linear-gradient(to right, #84fab0 0%, #40E0D0 51%, 	#40B5AD 100%);

}

.form_login button:hover {
  background-position: right center;
}



@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */


  .login {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #FAF9F6;
    /* border: 4px solid black; */


  }

  .login_desc {
    display: none;
    width: 0;
    /* border: 1px solid red; */
  }

  .login_form {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #FAF9F6;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }

  .sign_up_btn {
    cursor: pointer;
    /* text-decoration: none; */
    margin: auto;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    opacity: 0.8;
    color: black;
    font-size: 12px;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    display: inline-block;
    font-weight: 700;
  }

  .sign_up_btn:hover {
    /* text-decoration: none; */
    cursor: pointer;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    background: #FDDA0D;
    color: black;
  }


  .form_login {
    padding: 3vh;
    width: 90%;
    height: 90%;
    display: flex;
    background-color: #FAF9F6;
    text-align: center;
    /* border: 1px solid red; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }

  .form_login input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #FAF9F6;
    width: 30vh;
    border: 1;
    border-color: black;
    margin: 0 0 15px;
    padding: 10px;
    /* box-sizing: border-box; */
    font-size: 14px;
  }

  .form_login button {
    float: left;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    outline: 0;
    background: green;
    width: 15vh;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    background-image: linear-gradient(to right, #84fab0 0%, #40E0D0 51%, 	#40B5AD 100%);
  
  }

}