.postDisplay {

  margin: 5vh;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  /* border: 4px dashed red; */
  overflow: hidden;
}

.postImage {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #dbdbdb;
  /* border: 4px solid blue; */
}

.postImage>img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  /* border: 4px dashed orange; */
}

.postText {
  display: flex;
  padding: 3vh;
  /* height: 5vh; */
  overflow: none;
  /* border: 4px dashed black; */
}

@media only screen and (max-width: 600px) {
  .postDisplay {

    margin: 5vh;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    /* border: 4px dashed red; */
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .postDisplay {

    margin: 5vh;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    /* border: 4px dashed red; */
  }
}