.profile{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    height: 90vh;
    padding: 5vh;
    /* border: cadetblue 2px solid; */
    background-color: #fafafa;
    padding-bottom: 1rem; 
}

.profile_body{
    flex-direction: row;
    /* display: flex; */
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    flex-wrap: nowrap;
    clear: both;
    width: 60%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    /* border: 1px solid red; */
    align-content: center;
    align-items: stretch;
}
.logout{
    float: left;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    outline: 0;
    background: green;
    width: 20vh;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    background-image: linear-gradient(to right, #FF4433 0%, #D2042D 51%, 	#EE4B2B 100%);
}

.logout:hover {
    background-position: right center;
  }