.p_body {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  clear: both;
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 5vh;
  /* border: cadetblue 2px solid; */
  background-color: #fafafa;
  padding-bottom: 1rem;
}

.publish {
  flex-direction: row;
  display: flex;
  position: relative;
  overflow-x: hidden;
  clear: both;
  width: 60%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  /* border: 1px solid red; */
  justify-content: flex-start;
  align-content: flex-start;
}

.publish_input {
  display: flex;
  width: 90%;
  /* contain: content; */
  padding: 1vh;
  /* border: 2px dashed red; */
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.publish_header {
  display: flex;
  /* justify-content: center */
  /* border: 4px solid red; */
}

.publish_left {
  cursor: pointer;
  margin: 1vh;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #dbdbdb;
  /* border: 4px solid green; */
}

.submit {
  float: left;
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  outline: 0;
  background: green;
  width: 20vh;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  background-image: linear-gradient(to right, #84fab0 0%, #40E0D0 51%, 	#40B5AD 100%);
}

.submit:hover {
  background-position: right center;
}


.publish_left:active {
  transition: all 0.3s cubic-bezier(.2, .8, .2, 1);
  -webkit-transition: all 0.3 ease;
  border: 2px solid blue;
}

.publish_left:focus {
  background-color: yellow;
  border: 4px solid yellow;
  outline: blue auto 5px;
}

.publish_left:hover {
  transition: all 0.3s cubic-bezier(.2, .8, .2, 1);
  -webkit-transition: all 0.3 ease;
  border: 2px solid green;
}

.publish_left>img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.publish h6 {
  padding-top: 2vh;
  align-items: center;
  text-align: center;
  color: #880808;
  margin: auto;
  float: right;
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  /* border-left: 1px solid #E5E4E2; */
  font-size: 24px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.publish p {
  padding-bottom: 2vh;
  opacity: 0.8;
  align-items: center;
  text-align: center;
  color: black;
  margin: auto;
  float: right;
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  /* border-left: 1px solid #E5E4E2; */
  font-size: 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}



.publish_buttons {
  display: flex;
  padding: 3vh;
  /* border: cadetblue 2px solid; */
  background-color: #fafafa;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.tag {
  float: left;
  margin: 0;
  padding: 0;
  /* border: 2px dashed red; */
}


.tag_input {
  float: left;
  margin: 0;
  padding: 0;
  color: black;
  cursor: pointer;
}

.upload {
  float: left;
  margin: 0;
  padding: 0;
  /* border: 2px dashed black; */
}




.publish_input input {
  cursor: pointer;
  padding: 1vh;
  width: 100%;
  outline: 0;
  background: #fafafa;
  border: none;
  border: 1px solid black;
  box-sizing: border-box;
  outline: 0;
  height: 70px;
  background-position: bottom right;
  background-repeat: no-repeat;
  color: black;
  font-size: 25px;
  text-decoration: none;
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  background-color: #fafafa;
}

.publish_input input:active {
  transition: all 0.3s cubic-bezier(.2, .8, .2, 1);
  -webkit-transition: all 0.2 ease;
  border: 1px solid black;
}

.publish_input input:focus {
  transition: all 0.3s cubic-bezier(.2, .8, .2, 1);
  -webkit-transition: all 0.3 ease;
  border: 1px solid black;
}

.publish_input textarea {
  resize: none;
  text-transform: capitalize;
  padding: 2vh;
  outline: 0;
  /* height: 5vh; */
  border: 2px solid black;
  width: 100%;
  box-sizing: border-box;
  background-position: bottom right;
  background-repeat: no-repeat;
  color: black;
  /* font-weight: 700; */
  overflow: hidden;
  font-size: 16px;
  text-decoration: none;
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  background-color: #fafafa;
}

.publish_input textarea:active {
  transition: all 0.3s cubic-bezier(.2, .8, .2, 1);
  -webkit-transition: all 0.3 ease;
  border: 2px solid #dbdbdb;
}

.publish_input textarea:focus {
  transition: all 0.3s cubic-bezier(.2, .8, .2, 1);
  -webkit-transition: all 0.3 ease;
  border: 2px solid green;
}

.createButton {
  cursor: pointer;
  content: contain;
  float: right;
  transform: scale(1.8);
  /* border: 1px solid red; */
  color: #00A36C;
  /* background-color: white; */
  border-radius: 50%;
}

/* .createButton:active {
  transition: all 0.3s cubic-bezier(.2, .8, .2, 1);
  -webkit-transition: all 0.3 ease;
  border-left: 1vh solid white;
 
}

.createButton:focus {
  transition: all 0.3s cubic-bezier(.2, .8, .2, 1);
  -webkit-transition: all 0.3 ease;
  border-left: 1vh solid white;
  
}

.createButton:hover {
  transition: all 0.3s cubic-bezier(.2, .8, .2, 1);
  -webkit-transition: all 0.3 ease;
  border-left: 1px solid white;

} */

.createButton button {
  /* font-size: 12px; */
  background: transparent;
  outline: 0;
  border: 0;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin: auto;
  float: right;
  font-family: "A2 Regular", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  border: 1px solid #E5E4E2;
  color: black;
  background-color: #E4D00A;
  /* letter-spacing: -1; */
  text-transform: uppercase;
}

.createButton button:hover, .eventDisplay button:active, .eventDisplay button:focus {
  background-color: white;
  transition: all 0.3s cubic-bezier(.2, .8, .2, 1);
  -webkit-transition: all 0.3 ease;
}

.publish_header h1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
  /* padding: 10px; */
}

@media only screen and (max-width: 600px) {
  .publish {
    flex-direction: row;
    /* display: flex; */
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    flex-wrap: nowrap;
    clear: both;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fafafa;
    /* border: 1px solid red; */
    align-content: center;
    align-items: stretch;
  }

  .publish_header {
    display: flex;
    /* justify-content: center */
    /* border: 4px solid red; */
  }

  .publish_left {
    margin: 1vh;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #dbdbdb;
    border: 4px solid red;
  }

  .publish_left>img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .publish h6 {
    padding-top: 2vh;
    align-items: center;
    text-align: center;
    color: #880808;
    margin: auto;
    float: right;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    /* border-left: 1px solid #E5E4E2; */
    font-size: 24px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .publish p {
    padding-bottom: 2vh;
    opacity: 0.8;
    align-items: center;
    text-align: center;
    color: black;
    margin: auto;
    float: right;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    /* border-left: 1px solid #E5E4E2; */
    font-size: 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .publish_buttons {
    display: flex;
    padding: 3vh;
    /* border: cadetblue 2px solid; */
    background-color: #fafafa;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .publish {
    flex-direction: row;
    /* display: flex; */
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    flex-wrap: nowrap;
    clear: both;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    /* border: 1px solid red; */
    align-content: center;
    align-items: stretch;
  }

  .publish_left {
    margin: 1vh;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #dbdbdb;
  }

  .publish_left>img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .publish_input input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: black;
    border: none;
    border: 1px solid black;
    box-sizing: border-box;
    outline: 0;
    background-position: bottom right;
    background-repeat: no-repeat;
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    background-color: #fafafa;
  }

  .publish_buttons {
    display: flex;
    /* border: cadetblue 2px solid; */
    background-color: #fafafa;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }

  .createButton {
    /* margin-top: 4vh; */
    cursor: pointer;
    transform: scale(1.8);
    /* border: 1px solid red; */
    color: #00A36C;
    /* background-color: white; */
    border-radius: 50%;
  }



  .createButton button {
    /* font-size: 12px; */
    background: transparent;
    outline: 0;
    border: 0;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: auto;
    float: right;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    border: 1px solid #E5E4E2;
    color: black;
    background-color: #E4D00A;
    /* letter-spacing: -1; */
    text-transform: uppercase;
  }
}