.story_body {
    position: relative;
    width: 35vh;
    height: 65vh;
    margin: 2vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
    border: 1px solid #dbdbdb;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* border: 1px solid red; */
    
}

.story_body h1:active {
  cursor: pointer;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  border: 1px solid  black;
}

.story_body:hover {
  cursor: pointer;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  border: 1px solid  black;
}

.story_body:focus {
  cursor: pointer;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  border: 1px solid  black;
}

.story_body h1 {
    position: absolute;
    top: 8px;
    left: 16px;
    color:black;
    background: #FFEA00;
    font-size: 14px;
    padding: 1px;
    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    /* border: 4px solid #FFEA00; */
    letter-spacing: 4px;
    text-transform: uppercase;
}

.story_body img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.story_body img:hover {
  cursor: pointer;
  -webkit-transition: all 1 ease;
  transition: all 1 ease;
 
  
}

@media only screen and (max-width: 600px) {

  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .story_body {
      position: relative;
      width: 35vh;
      height: 65vh;
      margin: 2vh;
      display: flex;
      justify-content: center;
      /* align-items: center; */
      overflow: hidden;
      border: 1px solid #dbdbdb;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      /* border: 1px solid red; */
    }
  }