.tl {
    display: flex;
    padding: 2vh;
    justify-content: space-evenly;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    /* border: cadetblue 2px solid; */
    background-color: #fafafa;
    padding-top: 5vh;
}

.tl p {

    font-family: "A2 Regular", sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    /* border-left: 1px solid #E5E4E2; */
    opacity: 0.8;

    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .tl {
        flex-direction: row;
        display: flex;
        justify-content: center;
        position: relative;
        overflow-x: hidden;
        flex-wrap: wrap;
        clear: both;
        width: 100%;
        height: 100%;
        /* border: cadetblue 2px solid; */
        background-color: #fafafa;
    }
}

@media only screen and (max-width: 600px) {
    .tl {
        flex-direction: row;
        display: flex;
        justify-content: center;
        position: relative;
        overflow-x: hidden;
        flex-wrap: wrap;
        clear: both;
        width: 100%;
        height: 100%;
        /* border: cadetblue 2px solid; */
        background-color: #fafafa;
    }
}
